@custom-black: #141618;
@white: #fff;
@dark-text: #303133;
@light-text: #777;
@golden: #b4975a;
@light-gray: #eaeaea;

@primary-font: 'Playfair Display', serif;
@secondary-font: 'Poppins', serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: @primary-font;
    color: @dark-text;
}
.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}
img {
    vertical-align: top;
    max-width: 100%;
}