* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: #303133;
}
.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #303133;
  transition: all 0.3s ease;
}
a:hover {
  color: rgba(48, 49, 51, 0.5);
}
header .menu-bar-pc {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875rem;
  border: 1px solid #eaeaea;
}
header .menu-bar-pc .logo {
  max-width: 3.125rem;
}
header .menu-bar-pc .menu-principal a {
  padding: 0 0.5625rem;
}
header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem;
}
